<h1>Edit Home</h1>

<form method="POST" and action="/home/{{updated._id}}?_method=PUT">

<input type="text" name="name" placeholder="Name of Home" value="{{updated.name}}">
<input type="number" name="price" placeholder="Price" value="{{updated.price}}">
<input type="text" name="location" placeholder="Location" value="{{updated.location}}">
<input type="number" name="sqFoot" placeholder="Square Footage" value="{{updated.sqFoot}}">
<input type="number" name="numberOfBedrooms" placeholder="Bedrooms" value="{{updated.numberOfBedrooms}}">
<input type="number" name="numberOfBathrooms" placeholder="Bathrooms" value="{{updated.numberOfBathrooms}}">



<input type="submit" value="save">
</form>
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>