<h1>{{singleHome.name}}</h1>

<p>Price: {{singleHome.price}}</p>
<p>Location: {{singleHome.location}}</p>
<p>Square Feet: {{singleHome.sqFoot}}</p>
<p>Number of Bedrooms: {{singleHome.numberOfBedrooms}}</p>
<p>Number of Bathrooms: {{singleHome.numberOfBathrooms}}</p>

<form method="POST" action="/home/{{singleHome._id}}?_method=DELETE">
    <input type="submit" value="deleteHome" onclick="return confirm('Are you sure? All saved data will be deleted.')"/>
</form>


<button>
<a href="/home/edit/{{singleHome._id}}">Update</a>
</button>

<button>
    <a href="/home">Back to all Listings</a>
</button>