<h1>Edit Agent</h1>

<form method="POST" and action="/agent/{{updated._id}}?_method=PUT">

<input type="text" name="name" placeholder="Name of Agent" value="{{updated.name}}">
<input type="text" name="rating" placeholder="Rating" value="{{updated.rating}}">
<input type="number" name="yearsOfService" placeholder="Years of Service" value="{{updated.yearsOfService}}">
<input type="text" name="agency" placeholder="Agency" value="{{updated.agency}}">

<input type="submit" value="save">
</form>