<h1>{{singleAgent.name}}</h1>

<p>Rating: {{singleAgent.rating}}</p>
<p>Years of Service: {{singleAgent.yearsOfService}}</p>

<form method="POST" action="/agent/{{singleAgent._id}}?_method=DELETE">
    <input type="submit" value="deleteAgent" onclick="return confirm('Are you sure? All saved data will be deleted')"/>
</form>


<button>
<a href="/agent/edit/{{singleAgent._id}}">Update</a>
</button>

<button>
    <a href="/agent">Back to all Agents</a>
</button>