<h1 class="animated shake delay-1s">{{singleAgency.name}}</h1>

<div class="companyInfo">
<p>About us:
    <br>
    {{singleAgency.description}}</p>
<p>Listing Fee: {{singleAgency.listingFee}}%</p>
</div>

<h2>Our Agents:</h2>
{{#each agentAgency}}
<ol>
    <a href="/agent/{{id}}">{{name}}</a>
</ol>
{{/each}}


{{!-- <form method="POST" action="/agency/{{singleAgency._id}}?_method=DELETE">
    <input type="submit" value="Delete Agency"
        onclick="return confirm('Are you sure? All saved data will be deleted.')" />
</form> --}}

<div class="agencyBtns"></div>
<button>
    <a href="/agency/edit/{{singleAgency._id}}">Update Agency Information</a>
</button>


<button>
    <a href="/agent/new/{{singleAgency._id}}">
        Create a new agent for {{singleAgency.name}}
</a>
</button>


<button>
    <a href="/agency">Choose another Agency</a>
</button>
</div>