<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
      <link rel="stylesheet" href="/public/singleAgency.css" type="text/css">
</head>
<body>

<h1 class="animated shake delay-1s">{{singleAgency.name}}</h1>

<p>Listing Fee: {{singleAgency.listingFee}}%</p>
<p>About us: {{singleAgency.description}}</p>


<h2>Our Agents:</h2>
{{#each agentAgency}}
<ol>
    <a href="/agent/{{id}}">{{name}}</a>
</ol>
{{/each}}

{{!--delete agency  button--!}}

{{!-- <form method="POST" action="/agency/{{singleAgency._id}}?_method=DELETE">
    <input type="submit" value="Delete Agency"
        onclick="return confirm('Are you sure? All saved data will be deleted.')" />
</form> --}}


<button>
    <a href="/agency/edit/{{singleAgency._id}}">Update Agency Information</a>
</button>


<button>
    <a href="/agent/new/{{singleAgency._id}}">
        Create a new agent for {{singleAgency.name}}.
</a>
</button>


<button>
    <a href="/agency">Home</a>
</button>

</body>
</html>