<h1>{{singleAgency.name}}</h1>

<p>Listing Fee: {{singleAgency.listingFee}}</p>
<p>Description: {{singleAgency.description}}</p>



<li>
    {{#each agentAgency}}
    {{name}}
    {{/each}}
</li>

<form method="POST" action="/agency/{{singleAgency._id}}?_method=DELETE">
    <input type="submit" value="Delete Agency"
        onclick="return confirm('Are you sure? All saved data will be deleted.')" />
</form>


<button>
    <a href="/agency/edit/{{singleAgency._id}}">Update Agency Information</a>
</button>


<a href="/agent/new/{{singleAgency._id}}">
    <button>
        Create New agent for {{singleAgency.name}} agency.
    </button>
</a>



<a href="/agency">Home</a>
</button>